In [5]:
#Import libraries
import pandas as pd
import numpy as np

In [8]:
# loading dataset
iris = pd.read_csv(r'C:\Users\ouykh\Downloads\iris-data.csv\iris-data.csv')

In [9]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  150 non-null    float64
 1   sepal_width_cm   150 non-null    float64
 2   petal_length_cm  150 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
iris.describe()

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count       150.000000      150.000000       150.000000      145.000000
mean          5.644627        3.054667         3.758667        1.236552
std           1.312781        0.433123         1.764420        0.755058
min           0.055000        2.000000         1.000000        0.100000
25%           5.100000        2.800000         1.600000        0.400000
50%           5.700000        3.000000         4.350000        1.300000
75%           6.400000        3.300000         5.100000        1.800000
max           7.900000        4.400000         6.900000        2.500000

In [11]:
iris.head(2)

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa

In [15]:
iris.isna().sum(axis = 0)

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     5
class              0
dtype: int64

5 empty values in petal_width_cm column

In [33]:
iris['class'].value_counts()

Iris-virginica     50
Iris-setosa        49
Iris-versicolor    45
versicolor          5
Iris-setossa        1
Name: class, dtype: int64

one value tagged as "Iris-setossa", considered as a typo error

In [39]:
missing_values = iris[iris.isnull().any(axis=1)]
missing_values

Empty DataFrame
Columns: [sepal_length_cm, sepal_width_cm, petal_length_cm, petal_width_cm, class]
Index: []

Replacing the missing value with the mean of same class

In [29]:
iris.groupby('class')['petal_width_cm'].mean()

class
Iris-setosa        0.250000
Iris-setossa       0.300000
Iris-versicolor    1.335556
Iris-virginica     2.034000
versicolor         1.240000
Name: petal_width_cm, dtype: float64

In [38]:
iris["petal_width_cm"]=iris.groupby('class').transform(lambda x: x.fillna(x.mean()))

Replace the typo

In [44]:
iris['class'] = iris['class'].replace(['Iris-setossa'], 'Iris-setosa')

In [45]:
iris['class'].value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    45
versicolor          5
Name: class, dtype: int64

In [50]:
iris.duplicated().value_counts()

False    143
True       7
dtype: int64

In [56]:
iris.drop_duplicates(keep=False, inplace=True)

In [57]:
iris.duplicated().value_counts()

False    137
dtype: int64

In [59]:
iris.to_csv(r'C:\Users\ouykh\iris_cleaned.csv', index = False)